@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <h4><b>Hello, @context.User.Identity.Name</b></h4> &nbsp;
                    <a href="identity/Account/Logout">Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="identity/account/login">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
