@page "/"


<h1>Hello, world!</h1>

Welcome to your new app.
<h1>Consume component (full namespace example)</h1>

<RazorClassLibrary.MatBlazorComponents></RazorClassLibrary.MatBlazorComponents>

<RazorClassLibrary.ProfileComponent></RazorClassLibrary.ProfileComponent>
<ToasterComponent></ToasterComponent>
